.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;

    .toggle-btn {
        background-color: #1EC4F6;
        padding: 5px 10px;
        color: white;
        border-radius: 3px;
    }

    pre {
        color: wheat;
    }
}