.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    color: black;
    margin-bottom: 2rem;

    .input {
        input {
            padding: 0.8rem 5rem 0.8rem 3px;
            outline: none;
            border: none;
            border-radius: 5px;
            border-bottom: 1px solid springgreen;
        }
    }
}